.body {
    background-color: #1B3040;
    /* overflow: hidden; */
}

.outside-container {
    background-color: #1B3040;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    /* overflow: hidden; */
}

.main-container {
    background-color: #1B3040;
}

.about-thumbnail-column {
    max-height: 70% !important;
}

.profile-contact-column {
    height: 100% !important;
}

.about-content-column {
    height: 100% !important;
    background-color: #1B3040;
    height: 100vh;
}

.about-thumbnail {
    display: block;
}

.btn-about {
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: default !important;
}

.btn-about div {
    background-color: transparent;
}

.btn-about div img,
.btn-about div p {
    background-color: transparent;
}


@media (max-width: 1400px) {
    .about-thumbnail {
        display: block;
        width: 100%;
        height: 100%;
    }
}



@media (max-width: 993px) {
    .about-thumbnail {
        display: block;
        width: 50%;
        height: 50%;
    }
}

.wave {
    width: 1400px;
    height: 1200px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -200px;
    margin-top: 300px;
    border-radius: 35%;
    background: #accbee;
    opacity: 0.2;
    animation: wave 15s infinite linear;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

@media (max-width:768px) {
    .wave {
        width: 1200px;
        height: 1000px;
        position: absolute;
        top: 5%;
        left: 80%;
        margin-left: -200px;
        margin-top: 300px;
        border-radius: 35%;
        background: #accbee;
        opacity: 0.2;
        animation: wave 15s infinite linear;
    }
}

.about-p {
    line-height: 2 !important;
}

.btn-about {
    font-weight: 700 !important;
    border-width: 3px;
}