.nav-bar-container {
    overflow: hidden;
    transition: max-height 1.5s ease;
    border-bottom: #0f2540 solid 10px;
    width: 100%;
}

.navbar {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #0f2540 !important;
}

.navbar-visible {
    max-height: 500px;
}

.navbar-hidden {
    max-height: 0;
}

.nav-link {
    color: white !important;
    position: relative;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}



.nav-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    border-bottom: 2px solid #8e8e9f;
}

.navbar-toggler {
    border: gray solid 2px !important;
}

.navbar-toggler:hover {
    opacity: 0.5;
    background-color: #2E5C6E;
}

.navbar-brand {
    font-weight: 700 !important;
    font-size: 48px !important;
    display: flex !important;
    align-items: center !important;
}


.icon-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.nav-item {
    margin-left: 40px;
    font-weight: lighter;
}

#navbarSupportedContent {
    background-color: #0f2540 !important;
}

.navbar-nav a {
    font-size: 18px !important;
    font-weight: 600 !important;
}


@media (max-width:1024px) {
    .navbar-hidden {
        max-height: 10%;
    }

    .nav-link:hover {
        background-color: #2E5C6E !important;
    }

    .nav-link:hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        border-bottom: none;
    }

    .nav-bar-container ul,
    .nav-bar-container li {
        text-align: center;
    }

    .nav-item {
        margin: 0;
    }
}