* {
    font-family: monospace, 'Courier New', Courier;
    color: whitesmoke;
}

body {
    background-color: #1B3040; /* This will be applied to all pages */
}

.hr {
    width: 90% !important;
}

.icon {
    display: inline-block;
    margin: 10px;
    width: 32px;
    height: 32px;
    color: #36354c;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.resume-section {
    margin-bottom: 40px;
}

.resume-section h5 {
    font-weight: 400 !important;
}

h1,
h5 {
    margin: 5px 0;
}


.resume-section ul {
    list-style: none;
    /* This removes the bullet points */
    padding: 10;
    /* Removes default padding for list items */
}

.btn-resume-skill {
    font-weight: 700 !important;
    border-width: 2px;
    width: 200px !important;
}


.fa-brands {
    color: #282839 !important;
}

.devicon-icon {
    color: #282839 !important;
}












